<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
<a href="/products/new">Добавить товар</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Остаток</th>
        <th></th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stockQty}"></td>
        <td>
            <a th:href="@{/products/{id}/edit(id=${product.id})}">Изменить</a>
            <form th:action="@{/products/{id}/delete(id=${product.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>